@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Azeret Mono", monospace;
}
 /* banner style  */
.banner-container{
    margin: 0px auto;
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    width: 1536px;
    height: 652px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 131px;
}

.banner-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 44px;
    margin-left: 221px;
    margin-right: 221px;
    gap: 32px;
}
.banner-contant h1{
    font-weight:600px;
    Font-size: 40px;
    text-align: center;
    color: #0D1321;
}

.banner-contant p{
    font-size: 16px;
    font-weight: 400px;
    margin-right: 294px;
    margin-left: 294px;
    color: #0D1321;
}

/* button style  */

.btn-primary{
    width: 208px;
    height: 66px;
    background-color: #0D1321;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 21px 24px 21px 24px;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 44px;
}

.section-btn{
    margin-top: 32px;
    width: 150px;
    height: 48px;
}

/* second section */
.second-section{
    text-align: center;
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 88px;
    padding: 80px 97px 80px 97px;
}

.second-section p{
    margin-top: 24px;
}

.first-sub-section {
    display: flex ;
    margin-top: 96px;
    margin-bottom: 32px;
    width: 946px;
    height: 336px;
    padding: 48px;
}

.first-text-section{
    width: 477px;
    height: 220px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
}

.first-pic{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
}

.second-sub-section{
    margin-bottom: 32px;
    width: 946px;
    height: 336px;
    padding: 48px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.second-text-section{
    width: 477px;
    height: 220px;
    margin-left: 32px;
    margin-right: 101px;
    text-align: left;
}

.second-pic{
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.third-sub-section{
    width: 946px;
    height: 336px;
    padding: 48px;
    display: flex;
}

.third-text-section{
    width: 477px;
    height: 220px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
}

.third-pic{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
}

/* video  */
.video-section{
    width: 1140px;
    height: 777px;
    left: 148px;
    right: 152px;
    top: 2340px;
    bottom: 2128px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0px;
    /* border: 2px solid red; */
}

.video-heading{
    width: 852px;
    height: 115px;
    margin-top: 88px;
    text-align: center;
    /* border: 2px solid red; */
}
.video-heading h2 {
    margin-bottom: 24px ;
}

.video-heading p {
    width: 852px;
    height: 52px;
    margin-right: 144px;
    margin-left: 1px;
    /* border: 2px solid red; */
}

.video{
    /* border: 2px solid red; */
    margin-top: 80px;
    width: 1076px;
    height: 550px;
}

/* skill */

.skill-container{
    text-align: left;
    display: flex;
    gap: 24px;
}

.skill-html{
    background-color: #FF4C1E0D;
    padding: 30px;
    border-radius: 5px;
}

.skill-css{
    background-color: #004CE80D;
    padding: 30px;
    border-radius: 5px;
}

.skill-java{
    background-color: #FFDF000D;
    padding: 30px;
    border-radius: 5px;
}

.skill-title{
margin-top: 20px;
margin-bottom: 24px;
}

.under-line{
    margin-top: 20px;
}

/* target style  */

.target{
    width: 1140px;
    height: 870px;
    margin-top: 111px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0px;
}

.target-headline h3{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.target-headline p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.target-skill{
    width: 1140px;
    height: 220px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 16px;
    margin-top: 24px;
}

.pic-txt{
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.skill-discription{
    text-align: start;
    width: 1060px;
    height: 140px;
    margin-left: 30px;
}

.skill-discription h3{
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}

.skill-discription p{
    margin-top: 8px;
    margin-bottom: 24px ;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* footer  */
.footer-size{
    width: 1536px;
    height: 100px;
}
.footer-column{
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.icons{
        margin-top: 10px;
        margin-left: 700px;
}





